<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script>
        function Filesubmit() {
            document.getElementById("uploadForm").submit();
            //form1.submit();
        }
    </script>
    <title>文件上传</title>
</head>
<body>
    <form action="/upload/" method="post" enctype="multipart/form-data" id="uploadForm">
        {%if context != null%}
        <label>{{context}}</label>
        {%endif%}
        <br>
        {%csrf_token%}
        <input type="file" name="upload" onchange="Filesubmit()">
        <input type="submit" value="上传">
    </form>
</body>

</html>

